$staticStorageUrl: 'https://static.bit.dev';

.circularFont {
  font-family: 'CircularXX', 'Gill Sans', 'Gill Sans MT', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/**
 * Define `@font-face` rules for font-family Circular Pro Book, including bold and italic.  
 * Provides a handy class name to add to root component.
 */

// default
@font-face {
  font-family: 'CircularXX';
  src: url(CircularXXWeb-Regular.woff2);
}

// italic
@font-face {
  font-family: 'CircularXX';
  src: url(CircularXXWeb-Italic.woff2);
  font-style: italic;
}

// medium (between regular and bold)
@font-face {
  font-family: 'CircularXX';
  src: url(CircularXXWeb-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: 'CircularXX';
  src: url(CircularXXWeb-MediumItalic.woff2);
  font-style: italic;
  font-weight: 500;
}

// bold
@font-face {
  font-family: 'CircularXX';
  src: url(CircularXXWeb-Bold.woff2);
  font-weight: bold;
}

// bold + italic
@font-face {
  font-family: 'CircularXX';
  src: url(CircularXXWeb-BoldItalic.woff2);
  font-style: italic;
  font-weight: bold;
}

// bold-er
@font-face {
  font-family: 'CircularXX';
  src: url(CircularXXWeb-Black.woff2);
  font-weight: 800;
}
