.tabLink {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;

    display: flex;
    align-items: center;
    height: 100%;
    > div {
        transition: background-color 300ms ease-in-out;
        padding: 4px 8px;
        border-radius: 8px;
    }
    &:hover:not(.active) {
        text-decoration: none;
        > div {
            background-color: var(--bit-border-color-lightest, #ededed);
        }
    }
}

.active {
    color: var(--bit-accent-color, #6c5ce7);
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 100%;
    }

    &[data-position="top"] {
        &:after {
            top: 0;
            border-top: 3px solid currentColor;
        }
    }
    &[data-position="bottom"] {
        &:after {
            bottom: 0;
            border-bottom: 3px solid currentColor;
        }
    }
    &[data-position="right"] {
        &:after {
            height: 100%;
            right: 0;
            border-right: 3px solid currentColor;
        }
    }
    &[data-position="left"] {
        &:after {
            height: 100%;
            left: 0;
            border-left: 3px solid currentColor;
        }
    }
}
