@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.docsPage {
  display: flex;
}

.next {
  margin-top: 40px;
  margin-bottom: 20px;
}

.mdxLayout {
  --bit-p-md: 18px;
  li {
    font-size: var(--bit-p-md, 18px);
  }
  * {
    max-width: unset;
  }

  img {
    max-width: 100%;
  }
}

.content {
  position: relative;
  min-width: 0; // this is in order for content to fit next to the table of content without colliding
}

.tableOfContent {
  position: sticky;
  flex-shrink: 0;
  margin-left: 32px;
  top: 56px;
  bottom: 0;
  right: 8px;
  @media screen and (max-width: $br-lg) {
    display: none;
  }
}
