.folderLink {
    width: 100%;
    color: var(--bit-text-color, #414141);
    &:hover {
        text-decoration: none;
    }
}
.folder {
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    font-weight: bold;
    font-size: inherit;
    padding-right: 8px;
    font-size: var(--bit-p-xs, 14px);
    user-select: none;
    cursor: pointer;
    &:hover {
        background: var(--bit-bg-heavy, #f6f6f6);
    }
    &.active {
        background: var(--bit-accent-bg, #eceaff);
    }
}
.left {
    display: flex;
    align-items: center;
    flex: 1;
    .name {
        margin-right: 8px;
    }
}
.img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    filter: grayscale(1);
}
.icon {
    display: inline-block;
    line-height: inherit;
    transition: all 300ms;
    margin-right: 8px;
    color: var(--bit-text-color-light, #6c707c);
    &.collapsed {
        transform: rotate(-0.25turn);
    }
}
.configLink {
    color: inherit;
    text-decoration: none;

    opacity: 0;
    transition: color 180ms, opacity 80ms;

    &:hover,
    &.active {
        text-decoration: none;
        color: var(--bit-accent-color, #6c5ce7);
    }

    .folder:hover &,
    &.active {
        opacity: 1;
    }
}
